<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div style="width: 30%; margin:0 auto;">

            <h1>
                new comment to <%= campground.name %>
            </h1>

            <form action="/campground/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" name="comment[text]" type="text" placeholder="text">
                </div>
                <button class="btn btn-lg btn-primary">
                    submit!
                </button>
            </form>
            <a href="/campground">go back</a>
        </div>


    </div>
</div>

<%- include("../partials/footer") %>
